@model IEnumerable<HRM.Models.tblEmpAssesmentMas>
@if (Session["descript"] != null)
{
    {
        ViewBag.Title = "EmployeeDeactive";
        Layout = "~/Views/Shared/_LayoutMain.cshtml";
    }
    <link href = "//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel = "stylesheet"/>
    <div class="card">
        <div class="card-body">
            @if (TempData["Success"] != null)
            {
                <p class="alert alert-success" id="success" align="center">@TempData["Success"]</p>
            }
            @if (TempData["Empty"] != null)
            {
                <p class="alert alert-danger" id="empty" align="center">@TempData["Empty"]</p>
            }
            @if (TempData["Error"] != null)
            {
                <p class="alert alert-danger" id="error" align="center">@TempData["Error"]</p>
            }
            @if (ViewBag.Error != null)
            {
                <p class="alert alert-danger" id="viewerror" align="center">@ViewBag.Error</p>
            }
            @if (ViewBag.Empty != null)
            {
                <p class="alert alert-danger" id="viewEmpty" align="center">@ViewBag.Empty</p>
            }
            <h3 class="card-title">Change Employee Status View</h3>
            <table id="DeactiveEmp" class="table table-sm" style="font-size:90%">
                <thead class="bg-danger text-white col-12">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.vchName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.vchEmpFcode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tblDeptMas.vchdeptname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.tblDesignationMas.vchdesignation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.dtDOJ)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.intsalary)
                        </th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="border border-danger">
                    @if (TempData["Empty"] != null)
                    {
                        <p class="alert alert-danger" id="empty" align="center">@TempData["Empty"]</p>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.vchName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.vchEmpFcode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tblDeptMas.vchdeptname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tblDesignationMas.vchdesignation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dtDOJ)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.intsalary)
                                </td>
                                <td>
                                    @*@if (item.bitExitFormApproved == true)
                                {*@
                                    @Html.ActionLink("Left", "DeactiveEmp", new { id = item.intid }, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
                                    @*}
                                else
                                {
                                    @Html.Label("AllowFillExit", htmlAttributes: new { @class = "btn btn-primary btn-sm" })
                                }*@
                                    @Html.ActionLink("Transfer", "TransferEmp", new { id = item.intid }, htmlAttributes: new { @class = "btn btn-success btn-sm" })
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    Html.RenderAction("_SessionError1", "Home");
}
@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#DeactiveEmp').DataTable();
        });
    </script>
}