@model HRM.Models.RecieveTransferViewModel

@{
    ViewBag.Title = "TransferRecieve";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@using (Html.BeginForm())
{
    <br />
    @Html.AntiForgeryToken()
<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.intid)
    @Html.HiddenFor(model => model.empid)
    <h class="form-control bg-success" style="color:black;font-style:oblique;font-weight:bold;font-size:large" align="center">Transfer employee detail</h>
    <hr />
    <div class="row" style="color:black">
        <div class="col-4">
            <div class="form-group">
                @Html.Label("Transfer From", htmlAttributes: new { @class = "control-label col-md-6", @style = "font-weight:bold" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.vchTransferFromBranch, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.vchTransferFromBranch, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                @Html.Label("Transfer To Branch", htmlAttributes: new { @class = "control-label col-md-6", @style = "font-weight:bold" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.vchTransferToBranch, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.vchTransferToBranch, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                @Html.Label("Old DOJ", htmlAttributes: new { @class = "control-label col-md-6", @style = "font-weight:bold" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.dtTransferredDOJ, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.dtTransferredDOJ, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="color:black">
        <div class="col-4">
            <div class="form-group">
                @Html.Label("Transfer/Relieving Date", htmlAttributes: new { @class = "control-label col-md-6", @style = "font-weight:bold" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.dtRelieved, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.dtRelieved, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                @Html.Label("Transfer Salary", htmlAttributes: new { @class = "control-label col-md-6", @style = "font-weight:bold" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.intTransferSalary, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.intTransferSalary, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                @Html.Label("Transfer Remarks", htmlAttributes: new { @class = "control-label col-md-6", @style = "font-weight:bold" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.vchTransferRemarks, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.vchTransferRemarks, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row" style="color:black">
        <div class="col-4">
            <div class="form-group">
                @Html.Label("Select Position", htmlAttributes: new { @class = "control-label col-md-6 required", @style = "font-weight:bold" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.fkPosisionId, new SelectList(ViewBag.AllPosition, "Text", "Value"), htmlAttributes : new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.fkPosisionId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                @Html.Label("Select department", htmlAttributes: new { @class = "control-label col-md-6 required", @style = "font-weight:bold" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.fk_ReacievedDept, new SelectList(ViewBag.DeptList, "Text", "Value"), htmlAttributes: new { @id = "dptm", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.fk_ReacievedDept, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                @Html.Label("Select Designation", htmlAttributes: new { @class = "control-label col-md-6 required", @style = "font-weight:bold" })
                <div class="col-md-10">
                    <select class="form-control" id="designation" name="selecteddesi" required="required"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="color:black">
        <div class="col-4">
            <div class="form-group">
                @Html.Label("Salary", htmlAttributes: new { @class = "control-label col-md-6 required", @style = "font-weight:bold" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.intRecievedSalary, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.intRecievedSalary, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                @Html.Label("New DOJ", htmlAttributes: new { @class = "control-label col-md-7 required", @style = "font-weight:bold" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.dtRecieveddoj, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.dtRecieveddoj, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-4">
            @Html.Label("Enter Recieving Remarks", htmlAttributes: new { @class = "control-label col-md-8 required", @style = "font-weight:bold" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vchRecievedRemarks, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vchRecievedRemarks, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group" style="color:black" align="center">
        <h5 class="card-title" style="font-weight:bolder">Select Employee Type</h5>
        <fieldset class="radio">
            <label class="radio">
                @Html.RadioButtonFor(Model => Model.bitIsCorporateemp, "true", htmlAttributes: new { id = "chkyes", @class = "radio1" })
                Is Corporate Employee
            </label><br />
            <label class="radio">
                @Html.RadioButtonFor(Model => Model.bitIsCorporateemp, "false", htmlAttributes: new { id = "chkno", @class = "radio1" })
                Is Unit Employee
            </label>
            @Html.ValidationMessageFor(model => model.bitIsCorporateemp, "", new { @class = "text-danger" })
        </fieldset>
    </div>
    <br />
    <div class="row">
        <div class="col" align="center">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-success btn-block" />
                </div>
            </div>
        </div>
    </div>
</div>
}

@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jqueryui/jquery-ui.js"></script>
    <script type="text/javascript">
    //function for select department designationmas according to dept name
    $("#dptm").change(function () {
    var deptid = parseInt($(this).val());
    if (!isNaN(deptid)) {
    var selecteddesi = $('#designation');
    selecteddesi.empty();
    selecteddesi.append($("<option></option>").val('').html('Please wait ...'));
    $.ajax({
    url: '@Url.Action("DesiListSelect", "Authorization")',
    type: 'GET',
    dataType: 'json',
    data: { dept_id: deptid },
    success: function (result) {
    selecteddesi.empty(); // Clear the please wait
    selecteddesi.append($("<option></option>").val('').html('Select designation'));
    $.each(result, function (i, desi) {
    selecteddesi.append($("<option></option>").val(desi.id).html(desi.designation));
    });
    },
    error: function () {
    alert('Error!');
    }
    });
    }
    });
        </script>
    }




@*<div class="form-group">
        @Html.LabelFor(model => model.BitCancel, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.BitCancel)
                @Html.ValidationMessageFor(model => model.BitCancel, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.vchCancelReason, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.vchCancelReason, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.vchCancelReason, "", new { @class = "text-danger" })
        </div>
    </div>*@



