@model IEnumerable<HRM.Models.tblQuraterMas>
@if (Session["descript"] != null)
{
    {
        ViewBag.Title = "TDSIndex";
        Layout = "~/Views/Shared/_LayoutMain.cshtml";
    }
    <div class="card">
        <div class="card-body" style="background-color:aliceblue">
            <br />
            <h3 class="" style="color:black;font-weight:bold" align="center">Upload TDS Certificate View</h3>

            <div class="card-body">
                @if (TempData["Error"] != null)
                {
                    <p align="center" class="alert alert-danger" id="empty">@TempData["Error"]</p>
                }
                @if (ViewBag.Error != null)
                {
                    <p align="center" class="alert alert-danger" id="empty">@ViewBag.Error</p>
                }
                @if (TempData["Success"] != null)
                {
                    <p align="center" class="alert alert-success" id="empty">@TempData["Success"]</p>
                }
                @if (ViewBag.Success != null)
                {
                    <p align="center" class="alert alert-success" id="success">@ViewBag.Success</p>
                }
                <div align="right">
                    <a class="btn btn-warning btn-sm fas fa-hand-point-right" style="color:black" href="@Url.Action("BulkUploadTDS","Consultant")">&nbsp;Bulk Upload All Consultant&nbsp;</a>
                    <a class="btn btn-success btn-sm fas fa-hand-point-right" style="color:black" href="@Url.Action("Index","Consultant")">&nbsp;ViewAllConsultant</a>
                </div>
                <table class="table table-sm" style="font-size:90%">
                    <thead class="bg-success text-white col-12">
                        <tr style="color:black">
                            <th>
                                Document Name
                            </th>
                            <th>
                                Upload DateTime
                            </th>
                            <th>
                                Action
                            </th>

                        </tr>
                    </thead>
                    <tbody class="border border-success">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr style="color:black">
                                    <td>

                                        @Html.DisplayFor(model => item.vchMonth) @item.vchTempYear

                                    </td>
                                    <td>
                                        @{if (item.dtTempUploaded != null)
                                            {
                                                @Html.DisplayFor(model => item.dtTempUploaded)
                                            }
                                            else
                                            {
                                                @Html.Label("Pending")
                                            }
                                        }
                                    </td>
                                    <td>
                                        @{
                                            string isAdmin = string.Empty;
                                            if (Session["MainAdmin"] != null)
                                            {
                                                isAdmin = Session["MainAdmin"].ToString();
                                            }

                                            if (item.TempBitIsUploaded == true)
                                            {
                                                <a class="btn btn-success btn-sm fas fa-hand-point-right" href="@Url.Content("~/Content/Uploads/ConsultantTDS/" + @item.vchTempFileName)" target="_blank">&nbsp; View&nbsp;&nbsp;&nbsp;</a>
                                                if (isAdmin == "True")
                                                {
                                                    <a class="btn btn-danger btn-sm fas fa-hand-point-right" href="@Url.Action("DeleteTDS","Consultant",new { id = item.intTempEmpid, docname = item.vchTempFileName })">&nbsp; Delete</a>
                                                }
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-success btn-sm open-modal fas fa-hand-point-right" data-id="@item.intTempEmpid" , data-month="@item.vchMonth" style="color:white">&nbsp; Upload</button>
                                            }
                                        }

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div id="modalContainer"></div>
            </div>
        </div>
    </div>

}
else
{
    Html.RenderAction("_SessionError1", "Home");
}

@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript">
        $(document).on("click", ".open-modal", function () {
            var id = $(this).data("id");
            var monthname = $(this).data("month");

            $.get('/Consultant/uploadTDS', { id: id,month: monthname }, function (data) {
                $('#modalContainer').html(data);
                $('#_PartialTDSUpload').modal('show');
            });
        });
    </script>
}
