@model HRM.Models.tblMouDetail
@{
    ViewBag.Title = "ViewMOU";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-12" style="font-size:100%;color:black">
        <br />
        <div class="card" style="background-color:aliceblue">
            <div class="card-title">
                <h3 align="center" style="font-weight:bold">MOU View</h3>
            </div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.intid)
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            @Html.Label("MOU Upload Date", htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.dtMOUCreated, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            @Html.Label("MOU Effect From", htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.dtEffectFrom, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            @Html.Label("MOU Effect To", htmlAttributes: new { @class = "control-label col-md-6" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.dtEffectTo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row" align="center">
                    <div class="col">
                        <div class="form-group" align="center">
                            @*@Html.Label("View", htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @*@Html.EditorFor(model => model.vchFileAddress, new { htmlAttributes = new { @class = "form-control" } })*@
                                <a href="@Url.Content("~/Content/Uploads/" + Model.vchFileName)" target="_blank" class="btn btn-success"><i class="fa fa-hand-point-right">&nbsp;View MOU Document</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}




