@model IEnumerable<HRM.Models.tblConsultantDocDetail>
@if (Session["descript"] != null)
{
    {
        ViewBag.Title = "ViewOther";
        Layout = "~/Views/Shared/_LayoutMain.cshtml";
    }

    <div class="card">
        <div class="card-body" style="background-color:aliceblue">
            <br />
            <h3 class="" style="color:black;font-weight:bold" align="center">Consultant All Document View</h3>
            @if (Model != null)
            {
                <div class="card-body">
                    @if (TempData["Error"] != null)
                    {
                        <p align="center" class="alert alert-danger" id="empty">@TempData["Error"]</p>
                    }
                    @if (ViewBag.Error != null)
                    {
                        <p align="center" class="alert alert-danger" id="empty">@ViewBag.Error</p>
                    }
                    @if (TempData["Success"] != null)
                    {
                        <p align="center" class="alert alert-success" id="empty">@TempData["Success"]</p>
                    }
                    @if (ViewBag.Success != null)
                    {
                        <p align="center" class="alert alert-success" id="success">@ViewBag.Success</p>
                    }
                    <table class="table table-sm" style="font-size:90%">

                        <thead class="bg-success text-white col-12">
                            <tr style="color:black">
                                <th>
                                    Document Name
                                </th>
                                <th>
                                    Upload DateTime
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody class="border border-success">
                            @foreach (var item in Model)
                            {
                                <tr style="color:black">
                                    <td>
                                        @Html.DisplayFor(model=>item.tblDoctorDocMas.vchDocMasName)
                                    </td>
                                    <td>                                        
                                     @Html.DisplayFor(model => item.dtCreated)
                                    </td>
                                    <td>
                                        @{ string isAdmin = string.Empty;
                                                if (Session["MainAdmin"] != null)
                                                {
                                                    isAdmin = Session["MainAdmin"].ToString();
                                                }
                                                <a class="btn btn-success btn-sm" href="@Url.Content("~/Content/Uploads/" + @item.vchFileName)" target="_blank">&nbsp;&nbsp;View&nbsp;&nbsp;</a>

                                                if (isAdmin == "True")
                                                {
                                                    @Html.ActionLink("Delete", "", new { id = item.intid, empid = item.fk_DoctorID }, htmlAttributes: new { @class = "btn btn-danger btn-sm" })
                                                    @*<a href="@Url.Content("~/Content/Uploads/" + @item.intid)" style="color:red" target="_blank">Delete</a>*@
                                                }
                                            }                                           
                                        
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p class="alert alert-danger" id="empty" align="center">@TempData["Empty"]</p>
            }
        </div>
    </div>
}
else
{
    Html.RenderAction("_SessionError1", "Home");
}
@section scripts{
    <script type="text/javascript">

    </script>
}

