@model List<HRM.Models.spGetdol_Result>
@if (Session["descript"] != null)
{
    {
        ViewBag.Title = "DeactiveView";
        Layout = "~/Views/Shared/_LayoutMain.cshtml";
    }

    using (Html.BeginForm("DeactiveView", "Accounts", FormMethod.Post))
    {
        <br />
        @*<div class="row" style="border:solid; border-width:thin; padding:20px; height:400px;">*@
<div class="col-lg-12">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.TextBox("dtraneguser", "", htmlAttributes : new { @id = "dtrange", @class = "form-control", @required = "required", @Placeholder = "Select date range" } )
                @*<input type="text" id="txtDRage" class="form-control" required  inputtype="text" autoComplete="off" placeholder="Select date range" />*@
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input type="submit" value="Submit" id="btnsubmit" class="btn btn-success" />
            </div>
        </div>
    </div>
    @if (TempData["Empty"] != null)
    {
        <p class="alert alert-danger" id="errorMessage" align="center">@TempData["Empty"]</p>
    }
    <hr />
    @if (Model != null)
    {
        <div class="card">
            @if (TempData["Success"] != null)
            {
                <p class="alert alert-success" id="successMessage" align="center">@TempData["Success"]</p>
            }
            @if (TempData["Selecteddate"] != null)
            {
                <p class="alert alert-success" id="errorMessage" align="center">@TempData["Selecteddate"]</p>
            }
            <div align="right">
                <a href=@Url.Action("ExcelExportDOL", "Accounts") class="btn btn-success">Export to excel</a>
            </div>

            <div class="table-responsive">
                <table class="table table-sm col-12">
                    <thead class="bg-success text-white col-12">
                        <tr>
                            <th>
                                Employee Name
                            </th>

                            <th>
                                Department
                            </th>
                            <th>
                                Designation
                            </th>
                            <th>
                                Is Replacement
                            </th>
                            <th>
                                DOJ
                            </th>
                            <th>
                                DOL
                            </th>
                            <th>
                                Salary
                            </th>
                            <th>
                                Address
                            </th>

                        </tr>
                    </thead>
                    <tbody class="border border-primary">
                        @if (TempData["Empty"] != null)
                        {
                            <p class="alert alert-danger" id="successMessage">@TempData["Empty"]</p>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.vchName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.vchdeptname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.vchdesignation)
                        </td>

                        @{ if (item.bitIsReplacement == true)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.vchRplcmntName)
                                </td>
                            }
                            else
                            {
                                <td>
                                    <label>No</label>
                                </td>
                            }
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.dtDOJ)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dtDOL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.intsalary)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.vchpaddress)
                        </td>
                    </tr>
                                }
                            }
                    </tbody>
                </table>
            </div>
        </div>
                            }
  </div>
                                }
                            }
                            else
                            {
                                Html.RenderAction("_SessionError1", "Home");
                            }


    @section scripts{
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script type="text/javascript">
            $(function () {

                $("[id$=dtrange]").daterangepicker({
                    format: 'DD/MM/YYYY',
                    minDate: '01-05-2019',
                    maxDate: '31-03-2030'
                    //minDate: '2019-05-01',
                    //maxDate: '2030-03-31'
                }),
                    function (start, end) {
                        $("[id$ = dtraneguser]").html(start.format('DD/MM/YYYY') + '-' + end.format('DD/MM/YYYY'));
                    }
            });            
            
        </script>
        }

