@model HRM.Models.UpdatePassModelView
@if (Session["descript"] != null)
{
    {
        ViewBag.Title = "ChangePassword";
        Layout = "~/Views/Shared/_LayoutMain.cshtml";
        Html.EnableClientValidation(true);
    }
    using (Html.BeginForm("UpdatePass","Home",FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <br />
        <h3 class="col-10" style="color:black">User password update pannel</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(model => model.oldpasscode, htmlAttributes: new { @class = "control-lable col-md-12" })
                @Html.TextBoxFor(model => model.oldpasscode, htmlAttributes: new { @id = "oldpass", @type = "Password", @class = "form-control" })
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(model => model.newpasscode1, htmlAttributes: new { @class = "control-lable col-md-12" })
                @Html.TextBoxFor(model => model.newpasscode1, htmlAttributes: new { @id = "new1", @type = "Password", @class = "form-control" })
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                @Html.LabelFor(model => model.newpasscode2, htmlAttributes: new { @class = "control-lable col-md-12" })
                @Html.TextBoxFor(model => model.newpasscode2, htmlAttributes: new { @id = "new2", @type = "Password", @class = "form-control" })
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                @*<input type="button" value="Update Password" class="btn btn-success" id="uppass" onclick="UpdatePass()" />*@
                <input type="button" value="Update Password" class="btn btn-success" id="btnupdate" />
            </div>
        </div>
    }
}
else
{
    Html.RenderAction("_SessionError1", "Home");
}
@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript">
        //function for post new password
        $('#btnupdate').click(function () {
            var oldpcode = $("#oldpass").val().toString();
            var newpass1 = $("#new1").val().toString();
            var newpass2 = $("#new2").val().toString();            
            if (oldpcode != "" && oldpcode != null) {
                if (newpass1 != "" && newpass1 != null) {
                    if (newpass2 != "" && newpass2 != null) {
                        $.ajax({
                            url: "/Home/UpdatePass",
                            type: "POST",
                            data: {
                                old: oldpcode,
                                naya1: newpass1,
                                naya2: newpass2                                
                            },
                            success: function (result) {
                                //code here
                                if (result.success == "1") {
                                    alert(result.output1);
                                    window.location = "/Home/Index";
                                }
                                if (result.success == "2") {
                                    alert(result.output2);
                                }
                                if (result.success == "3") {
                                    alert(result.output3);
                                }
                                if (result.success == "4") {
                                    alert(result.output4);
                                }
                                if (result.success == "5") {
                                    alert(result.output5);
                                }
                                //for session error
                                if (result.success == "6") {
                                    alert(result.output6);
                                    window.location = "/Home/_SessionError1";
                                }
                            }
                        })

                    }
                    else {
                        alert("Confirm password!");
                        return false;
                    }
                }
                else {
                    alert("Enter new password!");
                    return false;
                }
            }
            else {
                alert("Enter old password!");
                return false
            }
        });
    </script>
}