@model HRM.Models.tblSkillMarksAndPositionMappMas
@if (Session["descript"] != null)
{
    {
        ViewBag.Title = "Create";
        Layout = "~/Views/Shared/_LayoutMain.cshtml";
        Html.EnableClientValidation(true);
    }



using (Html.BeginForm("Create","SkillMarksMapping",FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <br />
    <div class="col-10">
        <h3 class="card-title" style="color:black">Add new position and skill marks mapping master</h3>
    </div>
    @if (TempData["PossiEmpty"] != null)
    {
        <p class="alert alert-danger" id="error">@TempData["PossiEmpty"]</p>
    }
    else
    {
        if (TempData["Success"] != null)
        {
                <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
        }
        if (TempData["Error"] != null)
        {
                <p class="alert alert-danger" id="errormsg">@TempData["Error"]</p>
        }
<hr />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })


<div class="form-group">
    @Html.Label("Select Position", htmlAttributes: new { @class = "control-label col-md-8" })

    <div class="col-md-10">
        @Html.DropDownListFor(model => model.fk_PositionID, new SelectList(ViewBag.AllPosition, "Text", "Value", "Select position"), htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.fk_PositionID, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Enter skill marks from", htmlAttributes: new { @class = "control-label col-md-8" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.intSkillMarksFm, new { htmlAttributes = new { @class = "form-control", @min = "90", @max = "120", @required = "required" } })
        @Html.ValidationMessageFor(model => model.intSkillMarksFm, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("Enter skill marks to", htmlAttributes: new { @class = "control-label col-md-2", @number = "number" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.intSkillMarksTo, new { htmlAttributes = new { @class = "form-control", @min = "90", @max = "120", @required = "required" } })
        @Html.ValidationMessageFor(model => model.intSkillMarksTo, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save Mapping" class="btn btn-primary" />
        @{ string newmap = Session["Psnew"].ToString();
            if (newmap == "True")
            {
                <div align="right">
                    <a href="@Url.Action("Index", "SkillMarksMapping")">
                        <div class="btn btn-primary">
                            <h6 align="center" class="fas fa-hand-point-right">
                                View all mapping
                            </h6>
                        </div>
                    </a>
                </div>
                }
            }
            </div>
</div>
    }
</div>
    }
}

else
    {
        Html.RenderAction("_SessionError1", "Home");
    }

    @section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
