@model IEnumerable<HRM.Models.tblRequisition>

@{
    ViewBag.Title = "ViewRequisition";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<link href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />
<div class="form-horizontal">
    <div class="col-12" style="font-size:90%;color:black">
        <div class="card" style="background-color:aliceblue">
            <div class="card-body col-12">
                <div class="card-title" align="center">
                    <h3 class="card-title">Assigned Requisition View</h3>
                </div>
                @if (TempData["Error"] != null)
                {
                    //Error display when employee details not found in database
                    <p class="alert alert-danger" id="errorMessage" align="center">@TempData["Error"]</p>
                }
                @if (TempData["Success"] != null)
                {
                    //Error display when employee details not found in database
                    <p class="alert alert-success" id="successmsg" align="center">@TempData["Success"]</p>
                }
                @if (ViewBag.Error != null)
                {
                    //Error display when employee details not found in database
                    <p class="alert alert-danger" id="errorMessage" align="center">@ViewBag.Error</p>
                }
                @if (ViewBag.Success != null)
                {
                    //Error display when employee details not found in database
                    <p class="alert alert-success" id="successmsg" align="center">@ViewBag.Success</p>
                }
                <table id="AssignedReq" class="table table-sm col-12">
                    <thead class="bg-success text-white col-12">
                        <tr>
                            <th>
                                Requisition No.
                            </th>
                            <th>
                                Request Type
                            </th>
                            <th>
                                Position
                            </th>

                            <th>
                                RequestDate
                            </th>
                            <th>
                                RequiredDate
                            </th>
                            <th>
                                RequestBy
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                            Action
                            </th>
                        </tr>
                    </thead>
                    <tbody class="border border-success">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.Label(item.vchRNumber)
                                    </td>
                                    <td>
                                        @if (item.vchReqType == 1)
                                        {
                                            @Html.Label("", "New")
                                        }
                                        else
                                        {
                                            @Html.Label("", "Replacement")
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tblPositionCategoryMas.vchPosCatName)
                                    </td>
                                    <td>
                                        @item.dtRequest.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @item.dtRequiredDate.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.vchRequestBy)
                                    </td>
                                    <td>
                                        @if (item.bitStatusPending == true)
                                        {
                                            @Html.Label("", "Pending")
                                        }
                                        @if (item.bitStatusForward == true)
                                        {
                                            @Html.Label("", "Forwarded")
                                        }
                                        @if (item.bitStatusComplete == true)
                                        {
                                            @Html.Label("", "Completed")
                                        }
                                    </td>
                                    <td>

                                        <a class="btn btn-sm btn-success" href="@Url.Action("GetRequisition", "Assesment", new { id = item.intid })">Detail</a>
                                        &nbsp;&nbsp;
                                        @*@if (item.BitIsReplacement == true)
                                            {
                                                <a class="btn btn-sm btn-success" href="@Url.Action("ViewHrFullDetails", "Authorization", new { id = item.fkReplacement_empid })">ReplacementDetail</a>
                                            }*@
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#AssignedReq').DataTable();
        });
    </script>
}