@model IEnumerable<HRM.Models.tblEmpAssesmentMas>
@if (Session["descript"] != null)
{
    {
        ViewBag.Title = "ViewAllAssesment";
        Layout = "~/Views/Shared/_LayoutMain.cshtml";
    }

    <div class="col-lg-12">
        @if(TempData["Error"]!=null)
        {
            <p class="alert alert-danger" id="errormsg" align="center" >@TempData["Error"]</p>
        }
        @if (TempData["Success"] != null)
        {
            <p class="alert alert-success" id="successMessage" align="center">@TempData["Success"]</p>
        }
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">All assessment master view</h3>
                @{ string Asnew = Session["AssNew"].ToString();
                    if (Asnew == "True")
                    {
                        <div align="right">
                            <a href="@Url.Action("AssignNewAssement", "Assesment")">
                                <div class="btn btn-primary">
                                    <h6 class="fas fa-hand-point-right"></h6>
                                    <h6 align="center" class="fa fa-plus">
                                        Assessment new
                                    </h6>
                                </div>
                            </a>
                        </div>
                        }
                    }
                        <div class="table-responsive" style="font-size:90%">
                            <table class="table table-sm col-12">
                                <thead class="bg-primary text-white col-12">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.vchName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.vchMobile)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.vchcreatedby)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.dtcreated)
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="border border-primary">
                                    @if (TempData["Empty"] != null)
                                    {
                                        <p class="alert alert-danger" id="id">@TempData["Empty"]</p>
                                    }
                                    else
                                    {

                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.vchName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.vchMobile)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.vchcreatedby)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.dtcreated)
                                                </td>

                                                <td>
                                                    @*<a href="@Url.Action("", "Assesment", new { id = item.intid })">
                            <h6 align="center" class="fa fa-edit" data-placement="left" data-toggle="tooltip" data-original-title="Edit"></h6>
                        </a>&nbsp;&nbsp;
                        <a href="@Url.Action("", "Assesment", new { id = item.intid })">
                            <h6 align="center" class="fa fa-trash" data-placement="right" data-toggle="tooltip" data-original-title="Delete"></h6>
                        </a>*@
                                                    @{if (Session["AssSend"] != null)
                                                        {
                                                            string ASend = Session["AssSend"].ToString();
                                                            if (ASend == "True")
                                                            {
                                                                <a class="btn btn-primary btn-sm" href="@Url.Action("SendAssesment", "Assesment", new { id = item.intid })">
                                                                   Send For Assesment
                                                                </a>
                                                            }
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
            </div>
        </div>
    </div>
    }
else
{
    Html.RenderAction("_SessionError1", "Home");
}

@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
