@model IEnumerable<HRM.Models.tblEmpAssesmentDetails>
@if (Session["descript"] != null)
{

    {
        ViewBag.Title = "ViewAllAssStatus";
        Layout = "~/Views/Shared/_LayoutMain.cshtml";
    }


    <div class="col-lg-12">
        @if (TempData["Success"] != null)
        {
            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
        }
       
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Assessment current status view</h3>
                <div align="right">
                    <a href="@Url.Action("ViewAssignedAss", "Assesment")">
                        <div class="btn btn-primary">
                            <h6 class="fas fa-hand-point-right"></h6>
                            <h6 align="center" class="fa fa-plus">
                                Return back to assigned assesment
                            </h6>
                        </div>
                    </a>
                </div>
                <div class="table-responsive" style="font-size:90%">
                    <table class="table table-sm col-12">
                        <thead class="bg-primary text-white col-12">
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Position
                                </th>
                                <th>
                                    Mobile
                                </th>
                                <th>
                                    Experience
                                </th>
                                <th>
                                    DateCreation
                                </th>
                                <th>
                                    AssignDate
                                </th>
                                <th>
                                    AssignTo
                                </th>
                                <th>
                                    CurrentStatus
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.dtCompleted)
                                </th>
                                <th>
                                    AssesmentBy
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody class="border border-primary" style="color:black">
                            @if (TempData["Empty"] != null)
                            {
                                <p class="alert alert-danger" id="emptyMessage">@TempData["Empty"]</p>
                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.tblEmpAssesmentMas.vchName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem=>item.tblPositionCategoryMas.vchPosCatName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tblEmpAssesmentMas.vchMobile)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tblEmpAssesmentMas.decExperience)Yr
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tblEmpAssesmentMas.dtcreated)
                            <td>
                                @Html.DisplayFor(modelItem => item.tblEmpAssesmentMas.dtAssign)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.vchAssignedToUser)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.vchCurrentStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dtCompleted)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.vchCompletedBy)
                            </td>
                            <td>
                                @{
                                    string status = item.BitIsAssignCompleted.ToString();
                                    if (status == "True")
                                    {
                                    <a href="@Url.Action("SingleStatusView", "Assesment", new { id = item.tblEmpAssesmentMas.intid, uid = item.fk_userid })">
                                        <h6 align="center" class="fa fa-file" data-placement="right" data-toggle="tooltip" data-original-title="Details"></h6>
                                    </a>
                                        }
                                        else
                                        {
                                                
                                        }
                                    }
                            </td>
                        </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
 }
else
{
    Html.RenderAction("_SessionError1", "Home");
}

@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}

