@model HRM.Models.tblDesiSetting

@{
    ViewBag.Title = "AddNewSetting";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


@using (Html.BeginForm("AddNewSetting", "Master", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />
        @if (TempData["Success"] != null)
        {
            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
        }
        @if (TempData["ModelError"] != null)
        {
            <p class="alert alert-danger" id="successMessage">@TempData["ModelError"]</p>
        }
        <h4 class="col-md-10" style="color:black">Add new designation master setting</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Select Designation", htmlAttributes: new { @class = "control-label col-md-8" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.fk_intdesiid, ViewBag.DesiList as SelectList, "Select designation", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fk_intdesiid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row col-10">
            <div class="col-md-6">
                @Html.LabelFor(model => model.numExpMin, new { @class = "control-label col-md-8"})
                @Html.EditorFor(model => model.numExpMin, new { htmlAttributes = new { @class = "form-control",@type="decimal" } })
                @Html.ValidationMessageFor(model => model.numExpMin, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(model => model.numExpMax, htmlAttributes: new { @class = "control-label col-md-8" })
                @Html.EditorFor(model => model.numExpMax, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numExpMax, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row col-10">
            <div class="col-md-6">
                @Html.LabelFor(model => model.numSalMin, htmlAttributes: new { @class = "control-label col-md-8" })
                @Html.EditorFor(model => model.numSalMin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numSalMin, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(model => model.numSalMax, htmlAttributes: new { @class = "control-label col-md-8" })
                @Html.EditorFor(model => model.numSalMax, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numSalMax, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Record" class="btn btn-primary" />
                <div align="center">
                    <a href="@Url.Action("ViewDesiSetting", "Master")">
                        <div class="btn btn-primary">
                            <h6 align="center" class="fas fa-hand-point-right">
                                View all designation setting
                            </h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
