@model IEnumerable<HRM.Models.spEditPosDocMap_Result>

@{
    ViewBag.Title = "EditDocMap";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}



@using (Html.BeginForm("UpdateDocMapping", "Master", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="card">
            <div class="card-body">
                <h4 style="color:black" class="col-md-12">Position and document update mapping master</h4>
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })                

                <div class="form-group">
                    @Html.Label("Selected position name", htmlAttributes: new { @class = "control-label col-md-8" })
                    <div class="col-md-10">
                        @Html.TextBox("SelectedPos", (string)ViewBag.SelectedPosi, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                        @Html.Hidden("hdid", (string)ViewBag.SelectedPosiID)
                        @Html.Hidden("Selectedposname", (string)ViewBag.SelectedPosi)
                    </div>
                </div>
                @{ string viewmap = Session["Pdocview"].ToString();
                    if (viewmap == "True")
                    {
                        <div align="right">
                            <a href="@Url.Action("ViewAllDocMap", "Master")">
                                <div class="btn btn-success">
                                    <h6 align="center" class="fas fa-hand-point-right">
                                        Return to all doc mapping
                                    </h6>
                                </div>
                            </a>
                        </div>
                        <div align="center">
                            <div class="checkbox">
                                @*<label style="color:black">Select All</label>&nbsp;&nbsp;<input type="checkbox" id="checkall" checked="checked" />&nbsp;&nbsp;&nbsp;&nbsp;*@
                                <label style="color:black">Uncheck/Check All</label>&nbsp;&nbsp;<input type="checkbox" id="uncheckall" />
                            </div>
                        </div>
                    }
                }
                <table class="table table-sm" id="newmapp">
                    <thead class="bg-success text-white">
                        <tr>
                            <td>
                                <div class="form-group">
                                    @Html.Label("Document Name", htmlAttributes: new { @class = "control-label col-md-10" })
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    @Html.Label("AllowUpload  ", htmlAttributes: new { @class = "control-label col-md-12" })
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    @Html.Label("RequiredForAuthorization", htmlAttributes: new { @class = "control-label col-md-12" })
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    @Html.Label("RequiredForFinalUpload", htmlAttributes: new { @class = "control-label col-md-12" })
                                </div>
                            </td>

                        </tr>
                    </thead>
                    <tbody id="upData">
                        @if (Model.Count() != 0)
                        {
                        foreach (var item in Model) // as IEnumerable<SelectListItem>)
                        {
                        <tr>
                            <td>
                                <div class="col-md-10">
                                    @Html.Label(@item.vchdocname)
                                    @*//@Html.Hidden(item.Value)*@
                                </div>
                            </td>
                            <td>
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        <input type="checkbox" name="document" id="check_@item.intid" checked="@item.IsSelected" class="form-control" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        <input type="checkbox" name="ForAuthor" id="check_@item.intid" checked="@item.bitRequireForAuthorization" class="form-control" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        <input type="checkbox" name="ForComplete" id="check_@item.intid" checked="@item.bitRequireForPartialToComplete" class="form-control" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        }
                        }
                    </tbody>
                </table>
                <div class="form-group" align="center">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Update" class="btn btn-block btn-success" onclick="UpdateDocMapping()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript">
        //check all and uncheck all
        $('#uncheckall').click(function () {
            if ($(this).is(':checked')) {
                $('#newmapp').find('input[type=checkbox]:checked').removeAttr('checked');
            }
            else {
                $('#newmapp').find('input[type=checkbox]').attr('checked', true);
            }
        });

        //on sumbit post all value
        var UpdateDocMapping = function () {
            var postxt = $("#Selectedposname").val().toString();
            var Posid = $("#hdid").val().toString();
                var arryitem = [];
                var aarynitem = [];
            var arrayAuthor = [];
            var arrayNAuthor = [];
            var arrayComplete = [];
            var arrayNComplete = [];
            var commaseprateYfield = "";
            var commasepratedNfield = "";
            var authorYes = "";
            var authorNo = "";
            var completeYes = "";
            var completeNo = "";
            var Pid = "";
                var Ptxt = "";
            $("input[type='checkbox'][name='document']").each(function (EditMapp, val) {
                var checkid = $(val).attr("Id");
                var arr = checkid.split('_');
                var currentcheckboxid = arr[1];
                var currentuncheckboxid = arr[1];
                var ischecked = $("#" + checkid).is(":checked", true);
                if (ischecked) {
                    arryitem.push(currentcheckboxid);
                }
                var isunchecked = $("#" + checkid).is(":unchecked", true);
                if (isunchecked) {
                    aarynitem.push(currentuncheckboxid);
                }
            })
            //For Required to Send Authorization
            $("input[type='checkbox'][name='ForAuthor']").each(function (index, val) {
                // Your code here
                var checkid = $(val).attr("Id");
                var arr2 = checkid.split('_');
                var checkAuthorY = arr2[1];
                var checkAuthorN = arr2[1];
                if ($(this).is(":checked")) {
                    arrayAuthor.push(checkAuthorY);
                }
                else {
                    arrayNAuthor.push(checkAuthorN);
                }
            });
            //For Required Partial To Complete/Fully Activation
            $("input[type='checkbox'][name='ForComplete']").each(function (index1, val) {
                var checkid = $(val).attr("Id");
                var arr2 = checkid.split('_');
                var checkCompleteY = arr2[1];
                var checkCompleteN = arr2[1];
                if ($(this).is(":checked")) {
                    arrayComplete.push(checkCompleteY);
                }
                else {
                    arrayNComplete.push(checkCompleteN);
                }
            })

                if (arryitem.length != 0) {
                    commaseprateYfield = arryitem.toString();
                    commasepratedNfield = aarynitem.toString();
                    authorYes = arrayAuthor.toString();
                    authorNo = arrayNAuthor.toString();
                    completeYes = arrayComplete.toString();
                    completeNo = arrayNComplete.toString();
                    Pid = Posid.toString();
                    Ptxt = postxt.toString();

                    $.ajax({
                        url: "/Master/UpdateDocMapping",
                        type: "POST",
                        data: {
                            UpdateYValiDesi: commaseprateYfield,
                            UpdateNValiDesi: commasepratedNfield,
                            UpdateAuthorYes: authorYes,
                            UpdateAuthorNo: authorNo,
                            UpdateCompleteYes: completeYes,
                            UpdateCompleteNo: completeNo,
                            PosId: Pid,
                            PosText: Ptxt
                        },
                        success: function (result) {
                            if (result.Success == "1") {
                                alert(result.output1);
                                window.location = "/Master/ViewAllDocMap";
                            }
                            else if (result.Success == "2") {
                                alert(result.output2);
                                location.href = "/Home/_SessionError1"
                            }
                        }
                    })
                }
                else {
                    alert("Select atleast 1 designation");
                    return false
                }
            }
    </script>
}


