@model HRM.Models.PartialAuthorizationActionViewModel
@if (Session["descript"] != null)
{
    Html.EnableClientValidation(true);
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.salaryCheck, htmlAttributes: new { @id = "CheckSlary" })

            <h4 style="color: black; font-weight: bold;color:Highlight">Authorization Actions</h4>
            @if (Model.salaryCheck != 0)
            {
                int salary = Model.salaryCheck;

                if (salary >= 50000)
                {
                    <hr />
                    <div id="salarybrekup">
                        <div class="title" align="left" style="color:black;font-weight:bold;font-size:medium">Enter salary breakup</div>
                        <div class="row" style="color:black">
                            <div class="col-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.variablePart, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.variablePart, new { htmlAttributes = new { @value = " ", @type = "text", id = "variable", @class = "form-control", @required = "required" } })
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.fixedPart, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.fixedPart, new { htmlAttributes = new { @type = "text", id = "fixed", @class = "form-control", @required = "required" } })
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.totalSalary, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.totalSalary, new { htmlAttributes = new { @type = "text", id = "total", @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div id="mainAction">
                        <div class="form-group" align="center">
                            <h5 class="card-title">Are you wish to authorise employee<span style="color:crimson">*</span></h5>
                            <fieldset class="radio" id="allradio" style="color:black">
                                <label class="radio" id="author">
                                    Authorise
                                    @Html.RadioButtonFor(model => model.bitAuthorization, "Yes", htmlAttributes: new { id = "chkyes", @class = "radio" })
                                </label><br />
                                <label class="radio">
                                    Cancel Authorization
                                    @Html.RadioButtonFor(model => model.bitAuthorization, "No", htmlAttributes: new { id = "chkno", @class = "radio" })
                                </label><br />
                                Reconsider
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.bitAuthorization, "Reconsider", htmlAttributes: new { id = "chkreconsider", @class = "radio" })
                                    @*<input type="radio" value="Reconsider" id="reconsider" name="reconsider" dirname="author"/>*@
                                </label><br />
                                Forward To VPHR
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.bitAuthorization, "Forward", htmlAttributes: new { id = "forward", @class = "radio" })                                   
                                </label><br />
                                PartialAuthorised
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.bitAuthorization, "PartialAuthorised", htmlAttributes: new { id = "PartialAuthorised", @class = "radio" })
                                    @*<input type="radio" value="Reconsider" id="reconsider" name="reconsider" dirname="author"/>*@
                                </label>
                                @Html.ValidationMessageFor(model => model.bitAuthorization, "", new { @class = "text-danger" })
                            </fieldset>
                        </div>
                        <div>
                            <h5 style="color:black">Enter message to HR team<span style="color:red">(max length 2000 characters)</span></h5>
                            @Html.TextAreaFor(model => model.vchRemarks, htmlAttributes: new { @id = "txtcancel", @class = "form-control", @rows = "7", @size = "1500" })
                            @Html.ValidationMessageFor(model => model.vchRemarks, "", new { @class = "text-danger" })
                            <br />
                        </div>
                    </div>
                }
                else
                {                 
                    <div id="mainAction">
                        <div class="form-group" align="center">
                            <h5 class="card-title">Are you wish to authorise employee<span style="color:crimson">*</span></h5>
                            <fieldset class="radio" id="allradio" style="color:black">
                                <label class="radio" id="author">
                                    Authorise
                                    @Html.RadioButtonFor(model => model.bitAuthorization, "Yes", htmlAttributes: new { id = "chkyes", @class = "radio" })
                                </label><br />
                                <label class="radio">
                                    Cancel Authorization
                                    @Html.RadioButtonFor(model => model.bitAuthorization, "No", htmlAttributes: new { id = "chkno", @class = "radio" })
                                </label><br />
                                Forward To VPHR
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.bitAuthorization, "Forward", htmlAttributes: new { id = "forward", @class = "radio" })
                                </label><br />
                                Reconsider
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.bitAuthorization, "Reconsider", htmlAttributes: new { id = "chkreconsider", @class = "radio" })
                                    @*<input type="radio" value="Reconsider" id="reconsider" name="reconsider" dirname="author"/>*@
                                </label><br />
                                PartialAuthorised
                                <label class="radio">
                                    @Html.RadioButtonFor(model => model.bitAuthorization, "PartialAuthorised", htmlAttributes: new { id = "PartialAuthorised", @class = "radio" })
                                    @*<input type="radio" value="Reconsider" id="reconsider" name="reconsider" dirname="author"/>*@
                                </label>
                                @Html.ValidationMessageFor(model => model.bitAuthorization, "", new { @class = "text-danger" })
                            </fieldset>
                        </div>
                        <div>
                            <h5 style="color:black">Enter message to HR team<span style="color:red"> (max length 2000 characters)</span></h5>
                            @Html.TextAreaFor(model => model.vchRemarks, htmlAttributes: new { @id = "txtcancel", @class = "form-control", @rows = "7", @size = "1500" })
                            @Html.ValidationMessageFor(model => model.vchRemarks, "", new { @class = "text-danger" })
                            <br />
                        </div>
                    </div>
                }
            }

            <div align="center">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" id="postdata" class="btn btn-outline-success" />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a class="btn btn-outline-dark" href="@Url.Action("ViewAssignAuthorization", "Authorization")"> Back </a>
                    </div>
                </div>
            </div>

        </div>
    }
}
else
{
    Html.RenderAction("_SessionError1", "Home");
}
@section Scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript">
            //$('#variable').change(function () {
            //    var vsal = parseInt($('#variable').val());
            //    var fsal = parseInt($('#fixed').val());
            //    $('#total').val(vsal + fsal);
            //})
            //$('#fixed').change(function () {
            //    var vsal = parseInt($('#variable').val());
            //    var fsal = parseInt($('#fixed').val());
            //    $('#total').val(vsal + fsal);
            //})
            //query saved in main page
    </script>
}


