@model HRM.Models.tblExperienceMas
@if (Session["descript"] != null)
{
    {
        ViewBag.Title = "EditExperienceMas";
        Layout = "~/Views/Shared/_LayoutMain.cshtml";
    }

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-12">
                <div class="card" style="font-size:90%;background-color:aliceblue">
                    <div class="card-body col-12">
                        <h3 class="card-title">Edit Experience Letter Master View</h3>

                        @if (TempData["Error"] != null)
                        {
                            <p align="center" class="alert alert-danger" id="empty">@TempData["Error"]</p>
                        }
                        @if (ViewBag.Error != null)
                        {
                            <p align="center" class="alert alert-danger" id="empty">@ViewBag.Error</p>
                        }
                        @if (TempData["Success"] != null)
                        {
                            <p align="center" class="alert alert-success" id="empty">@TempData["Success"]</p>
                        }
                        @if (ViewBag.Success != null)
                        {
                            <p align="center" class="alert alert-success" id="success">@ViewBag.Success</p>
                        }
                        <div align="right">
                            <a href="@Url.Action("IndexExperienceMas", "Template")"
                               class="btn btn-primary"><i class="fa fa-hand-point-right">&nbsp; View All Template</i></a>
                        </div>

                        <h6 class="card-subtitle">
                        </h6>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.intid)

                        <div class="form-group">
                            @Html.LabelFor(model => model.vchName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.vchName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.vchName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="form-group">
                            @Html.Label("Selected Gender", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.vchGender, ViewBag.GenderList as SelectList, "Select gender", htmlAttributes: new { @id = "selectedgender", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.vchGender, "", new { @class = "text-danger" })
                                @Html.LabelFor(model => model.vchForGender, Model.vchForGender, htmlAttributes: new { @disabled = "disabled", @id = "selectedgender", @class = "form-control" })
                            </div>
                        </div>*@
                        <div class="form-group">
                            @Html.Label("Update gender", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.vchForGender, ViewBag.GenderList as SelectList, Model.vchForGender.ToString(), htmlAttributes: new { @value = Model.vchForGender, @id = "selectedgender", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.vchForGender, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.Label("Update master type", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.vchType, ViewBag.Mastype as SelectList, Model.vchType.ToString(), htmlAttributes: new { @value = Model.vchType, @id = "MasType", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.vchType, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.vchHeading, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.vchHeading, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.vchHeading, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.txtContent, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.txtContent, htmlAttributes: new { @class = "form-control", @id = "txteditor", @rows = "30", @size = "2500" })
                                @Html.ValidationMessageFor(model => model.txtContent, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" align="center">
                            <div class="col-md-offset-2 col-md-12">
                                <input type="submit" value="Update" class="btn btn-success" />
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="@Url.Action("IndexExperienceMas","Template")"
                                   class="btn btn-outline-danger">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    Html.RenderAction("_SessionError1", "Home");
}
@*query for if permanent address is same as contact address(on check box click)*@
@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <link href="~/Content/CheckEditor/sample/styles.css" rel="stylesheet" />
    <script src="~/Content/CheckEditor/build/ckeditor.js"></script>
    <script type="text/javascript">
        ClassicEditor
            .create(document.querySelector('#txteditor'))
            .catch(error => {
                console.error(error);
            });
    </script>
}


