@model HRM.Models.tblIntershipDetail
@{ if (Session["descript"] != null)
    {
        {
            ViewBag.Title = "EmpNewIntership";
            Layout = "~/Views/Shared/_LayoutMain.cshtml";
        }

        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-12" style="font-size:90%">
                    <div class="card" style="background-color:aliceblue">
                        <div class="card-body col-12">
                            <h3 class="card-title">New Employee Intership Letter View</h3>
                            @if (TempData["Error"] != null)
                            {
                                <p align="center" class="alert alert-danger" id="empty">@TempData["Error"]</p>
                            }
                            @if (ViewBag.Error != null)
                            {
                                <p align="center" class="alert alert-danger" id="empty">@ViewBag.Error</p>
                            }
                            @if (TempData["Success"] != null)
                            {
                                <p align="center" class="alert alert-success" id="empty">@TempData["Success"]</p>
                            }
                            @if (ViewBag.Success != null)
                            {
                                <p align="center" class="alert alert-success" id="success">@ViewBag.Success</p>
                            }
                            <h6 class="card-subtitle"></h6>
                            <div align="right">
                                <a href="@Url.Action("EmpIndexIntership", "Template")"
                                   class="btn btn-primary"><i class="fa fa-hand-point-right">&nbsp; View All Employee Intership Letter</i></a>
                            </div>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div align="left" class="form-group">
                                <h5 class="card-title">You want to select existing HRMS employee<span style="color:red">*</span></h5>
                                <fieldset class="radio form-group">
                                    <label class="radio">
                                        Yes
                                        @Html.RadioButtonFor(model => model.bitIsHRMSemp, "true", htmlAttributes: new { @id = "Repyes" })
                                    </label>
                                    <label class="radio">
                                        No
                                        @Html.RadioButtonFor(model => model.bitIsHRMSemp, "false", htmlAttributes: new { @id = "Repno" })
                                    </label>
                                    @Html.ValidationMessageFor(model => model.bitIsHRMSemp, "", new { @class = "text-danger" })
                                </fieldset>
                            </div>
                            <div class="row col-12" id="ifyeshrms">
                                <div class="col-12">
                                    <div class="form-group">
                                        @Html.Label("Select employee code", htmlAttributes: new { @class = "control-label col-md-6 required" })
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(model => model.fk_hrmsEMPid, ViewBag.Employees as SelectList, "Select employee code", htmlAttributes: new { @class = "form-select", @style = "width: 100%;", @id = "hrms_id" })
                                            @Html.ValidationMessageFor(model => model.fk_hrmsEMPid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row col-12">
                                <div class="col-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.fk_Masid, htmlAttributes: new { @class = "control-label col-md-6 required" })
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(mode => Model.fk_Masid, ViewBag.MasterType as SelectList, "Select intership master", htmlAttributes: new { @id = "MasType", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.fk_Masid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.vchName, htmlAttributes: new { @class = "control-label col-md-6 required" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.vchName, new { htmlAttributes = new { @id = "name", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.vchName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.vchFatherName, htmlAttributes: new { @class = "control-label col-md-6 required" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.vchFatherName, new { htmlAttributes = new { @id = "fathername", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.vchFatherName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row col-12" id="HRMSData">
                                <div class="col-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.vchState, htmlAttributes: new { @class = "control-label col-md-6 required" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.vchState, new { htmlAttributes = new { @id = "estate", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.vchState, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.vchCity, htmlAttributes: new { @class = "control-label col-md-6 required" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.vchCity, new { htmlAttributes = new { @id = "ecity", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.vchCity, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.vchAddress, htmlAttributes: new { @class = "control-label col-md-6 required" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.vchAddress, new { htmlAttributes = new { @id = "eaddress", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.vchAddress, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row col-12">
                                <div class="col-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.vchGender, htmlAttributes: new { @class = "control-label col-md-6 required" })
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(model => model.vchGender, ViewBag.GenderList as SelectList, "Select gender", htmlAttributes: new { @id = "ForGender", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.vchGender, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.fk_department, htmlAttributes: new { @class = "control-label col-md-6 required" })
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(model => model.fk_department, ViewBag.SelectDpt as SelectList, null, htmlAttributes: new { @id = "selectDept", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.fk_department, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.fk_designation, htmlAttributes: new { @class = "control-label col-md-6 required" })
                                        <div class="col-md-12">
                                            @Html.DropDownListFor(model => model.fk_designation, ViewBag.SelectDesi as SelectList, "Select designation", htmlAttributes: new { @id = "selectDesi", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.fk_designation, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row col-12">
                                <div class="col-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.dtApplication, htmlAttributes: new { @class = "control-label col-md-6 required" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.dtApplication, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.dtApplication, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.dtDOS, htmlAttributes: new { @class = "control-label col-md-6 required" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.dtDOS, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.dtDOS, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.dtDOE, htmlAttributes: new { @class = "control-label col-md-6 required" })
                                        <div class="col-md-12">
                                            @Html.EditorFor(model => model.dtDOE, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.dtDOE, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-12">
                                <div class="col-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.txtContent, htmlAttributes: new { @class = "control-label col-md-2 required" })
                                        <div class="col-md-12">
                                            @Html.TextAreaFor(model => model.txtContent, htmlAttributes: new { @class = "form-control", @id = "Content", @rows = "30", @size = "2500" })
                                            @Html.ValidationMessageFor(model => model.txtContent, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-12">
                                <div class="col-12" align="center">
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Create" class="btn btn-success" />&nbsp;&nbsp;&nbsp;
                                            <a class="btn btn-outline-danger" href="@Url.Action("EmpIndexIntership", "Template")">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        Html.RenderAction("_SessionError1", "Home");
    }
}

@section Scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/Select2/js/select2.js"></script>
    <script src="~/Content/Select2/js/select2.min.js"></script>
    <script type="text/javascript">
        //radio checked if HRMS employee
        $("#ifyeshrms").attr("Hidden", true);
        $("#Repyes").click(function () {
            if ($(this).is(':checked')) {
                $("#ifyeshrms").attr("Hidden", false);
            }
        });
        $("#Repno").click(function () {
            if ($(this).is(':checked')) {
                $("#ifyeshrms").attr("Hidden", true);
            }
        });
        $(document).ready(function () {
            $('#hrms_id').select2();
        });

        //for selection master type content
        //$(document).ready(function () {
                 $('#MasType').change(function () {
                     // Get the selected option value
                     var selectedOption = $(this).val();
                     if (selectedOption != "") {
                         // Make an AJAX request to the controller action with the selected option
                         $.ajax({
                             url: '@Url.Action("GetInternshipMasContent", "Template")',
                             type: 'GET',
                             dataType: 'json',
                             data: { selectedOption: selectedOption },
                             success: function (data) {
                                 // Handle the data returned from the controller
                                 var result = data.Result;

                                 //Update an element with the result
                                 $("#Content").val(result);

                                 // Additional logic based on the result...
                             },
                             error: function (error) {
                                 //console.error('Error fetching data:', error);
                                 //error = "Select master type";
                                 //alert(error);
                                 //alert(JSON.stringify(error));
                             }
                         });
                     }
                 });
       // });

        //Get employee detail function
       // $(document).ready(function () {
            $('#hrms_id').change(function () {
                // Get the selected option value
                var empid = $(this).val();
                if (empid != "") {
                    // Make an AJAX request to the controller action with the selected option
                    $.ajax({
                        url: '@Url.Action("GetInternhrmsid", "Template")',
                        type: 'GET',
                        dataType: 'json',
                        data: { empid: empid },
                        success: function (data) {
                            if (!data.alertmessage) {
                                // Handle the data returned from the controller
                                var name = data.vchname;
                                var empcode = data.vchempcode;
                                var fathername = data.fathername;
                                var city = data.city;
                                var state = data.state;
                                var address = data.add;
                                var dept = data.deptid;
                                var desi = data.desiid;
                                var Gender = data.Gender;
                                // Update an element with the result
                                $("#name").val(name);
                                $("#fathername").val(fathername);
                                $("#estate").val(state);
                                $("#ecity").val(city);
                                $("#eaddress").val(address);
                                $("#selectDept").val(dept);
                                $("#selectDesi").val(desi);
                                $("#ForGender").val(Gender);                     
                            }
                            //error message from Server side
                            else {
                                alert(data.alertmessage);
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            // Handle errors
                            console.log("Error: " + errorThrown);
                            //alert(error.alertmsg);
                            // Display a user-defined error message
                            if (xhr.responseJSON && xhr.responseJSON.error) {
                                alert(xhr.responseJSON.error);
                            } else {
                                alert("An unexpected error occurred.");
                            }
                        }
                    });
                }
            })
      // });



    </script>
}