@model HRM.Models.tblOfferLetter
@{
    ViewBag.Title = "EmpOfferLetter";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@if (Session["id"] != null)
{
    using (Html.BeginForm("EmpOfferLetter", "Template", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @if (TempData["Success"] != null)
            {
                <p align="center" class="alert alert-success" id="Empty">@TempData["Success"]</p>
            }
            @if (TempData["Error"] != null)
            {
                <p align="center" class="alert alert-danger" id="Empty">@TempData["Error"]</p>
            }
        <div class="col-lg-12">
            <br />
            <hr />
            @Html.HiddenFor(m => m.fk_templateid)
            <h3 style="color:black">New Offer Letter</h3>
            <div class="row col-12">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.fk_deptId)<span style="color:red">*</span>
                        @Html.DropDownListFor(model => model.fk_deptId, ViewBag.DeptList as SelectList, "Select department", htmlAttributes: new { @id = "selectedDpt", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.fk_deptId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.fk_positionId)<span style="color:crimson">*</span>
                        @Html.DropDownListFor(model => model.fk_positionId, ViewBag.PositionList as SelectList, "Select position", htmlAttributes: new { @class = "form-control", @id = "Position" })
                        @Html.ValidationMessageFor(model => model.fk_positionId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.dtApllicationdate)<span style="color:crimson">*</span>
                        @Html.EditorFor(model => model.dtApllicationdate, new { htmlAttributes = new { @type = "date", @id = "appdt", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.dtApllicationdate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row col-12">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.vchName)<span style="color:crimson">*</span>
                        @Html.EditorFor(model => model.vchName, new { htmlAttributes = new { @class = "form-control", @id = "empname" } })
                        @Html.ValidationMessageFor(model => model.vchName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.dtJoinBefore)<span style="color:crimson">*</span>
                        @Html.EditorFor(model => model.dtJoinBefore, new { htmlAttributes = new { @type = "date", @id = "dtbefore", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.dtJoinBefore, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.dtAcceptance)<span style="color:crimson">*</span>
                        @Html.EditorFor(model => model.dtAcceptance, new { htmlAttributes = new { @type = "date", @class = "form-control", @id = "accdate" } })
                        @Html.ValidationMessageFor(model => model.dtAcceptance, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row col-12">
                <div class="col-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.txtContent, htmlAttributes: new { @class = "control-control" })
                        @Html.TextAreaFor(model => model.txtContent, htmlAttributes: new { @class = "form-control", @rows = "9", @size = "1500" })
                        @Html.ValidationMessageFor(model => model.txtContent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-12" align="center">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success" />
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="@Url.Action("NewLetter", "Template")" class="btn btn-outline-danger">Cancel</a>
                </div>
            </div>
        </div>
        </div>
    }
}
else
{
    Html.RenderAction("_SessionError1", "Home");
}
@*query for if permanent address is same as contact address(on check box click)*@
@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
}

