@model HRM.Models.tblinternship
@if (Session["id"] != null)
{
    {
        ViewBag.Title = "InternshipNew";
        Layout = "~/Views/Shared/_LayoutMain.cshtml";
    }
    using (Html.BeginForm("InternshipNew", "Template", FormMethod.Post))
    {
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    @if (TempData["Success"] != null)
    {
        <p align="center" class="alert alert-success" id="Empty">@TempData["Success"]</p>
    }
    @if (TempData["Error"] != null)
    {
        <p align="center" class="alert alert-danger" id="Empty">@TempData["Error"]</p>
    }
    <div class="col-lg-12">
        <br />
        <hr />
        <h3 style="color:black">New Training Letter</h3>
        <div class="row col-12">
            @Html.HiddenFor(model=>model.fk_TemplateId)
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.vchGender)<span style="color:red">*</span>
                    @Html.DropDownListFor(model => model.vchGender, ViewBag.GenderList as SelectList, "Select Gender", htmlAttributes: new { @id = "selectedDpt", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.vchGender, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.vchName)<span style="color:red">*</span>
                    @Html.EditorFor(model => model.vchName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.vchName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.vchFatherName)<span style="color:red">*</span>
                    @Html.EditorFor(model => model.vchFatherName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.vchFatherName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row col-12">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.dtDOS)<span style="color:red">*</span>
                        @Html.EditorFor(model => model.dtDOS, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.dtDOS, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.dtDOE)<span style="color:red">*</span>
                        @Html.EditorFor(model => model.dtDOE, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.dtDOE, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row col-12">
                <div class="col-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.txtContent)<span style="color:red">*</span>
                        @Html.TextAreaFor(model => model.txtContent, htmlAttributes: new { @class = "form-control", @rows = "9", @size = "1500" })
                        @Html.ValidationMessageFor(model => model.txtContent, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-12" align="center">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="@Url.Action("NewLetter", "Template")" class="btn btn-outline-danger">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
    }
}
else
{
    Html.RenderAction("_SessionError1", "Home");
}

@section scripts{
            <script src="~/Scripts/jquery.validate.js"></script>
            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
            <script src="~/Scripts/jquery-ui.js"></script>
        }

