@model IEnumerable<HRM.Models.tblinternship>
@{
    ViewBag.Title = "InternshipIndex";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            @if (TempData["Error"] != null)
            {
                <p align="center" class="alert alert-danger" id="ErrorMessage">@TempData["Error"]</p>
            }
            @if (TempData["Success"] != null)
            {
                <p align="center" class="alert alert-success" id="successMessage">@TempData["Success"]</p>
            }
            @if (TempData["Success1"] != null)
            {
                <p align="center" class="alert alert-success" id="successMessage1">@TempData["Success1"]</p>
            }
            <h3 class="card-title">All Internship Letter View</h3>

            <div align="right">

                <a href="@Url.Action("InternshipNew", "Template")">
                    <div class="btn btn-primary">
                        <h6 align="center" class="fas fa-hand-point-right"></h6>
                        <h6 align="center" class="fas fa-plus">
                            Create Training Certificate
                        </h6>
                    </div>
                </a>
            </div>
            <div class="table">
                <table class="table table-sm col-12">
                    <thead class="bg-primary text-white col-12">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.vchName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.vchFatherName)
                            </th>
                            <th>
                                Ref. Code
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @if (TempData["Empty"] != null)
                    {
                        <p class="alert alert-danger" id="emptymsg">@TempData["Empty"]</p>
                    }
                    else
                    {
                        <tbody class="border border-primary">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.vchName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.vchFatherName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.vchRefCode)
                                    </td>
                                    <td>
                                        @Html.ActionLink("View", "printInternship", new { id = item.intid },new { @target = "_blank" }) &nbsp;&nbsp;
                                        @Html.ActionLink("Edit", "InernshipEdit", new { id = item.intid })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>


